.main-block-box {
  flex: 1;
  width: 100%;
}
.main-block-box > div {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.block-box,
.main-block-box {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  // &-status-leave {
  //   border: 1px solid transparent;
  // }
  // &-status-hover {
  //   border: 1px solid #9cdec3;
  // }
  // &-status-active {
  //   border: 1px solid #02bc87;
  // }
}
